package views

import "github.com/ReidMason/plex-ani-sync/view/layouts"

templ Home() {
  @layouts.Main() {
    <div class="bg-slate-700 p-8 h-full text-slate-100">
      <h1 class="font-semibold text-xl">Home</h1>
    </div>
  }
}
