package views

import "github.com/ReidMason/plex-ani-sync/view/layouts"

templ Setup() {
  @layouts.Main() {
    <div class="bg-slate-700 p-8 h-full text-slate-100">
      <h1 class="font-semibold text-xl">Setup</h1>

<form>
      <input type="text" class="bg-slate-800 text-slate-100 p-2 rounded-md w-full mt-4" placeholder="Name" />

<button class="bg-slate-800 text-slate-100 p-2 rounded-md w-full mt-4 hover:bg-slate-800/60">Submit</button>
      </form>
    </div>
  }
}
