package components;

import (
	"github.com/ReidMason/plex-ani-sync/templates/components/ui"
	"github.com/ReidMason/plex-ani-sync/internal/api/routes"
)

type SetupAnimeListFormData struct {
	ClientId      ui.Field
	FormSubmitted string
}

templ SetupAnimeListForm(formData SetupAnimeListFormData) {
	<form hx-post={ routes.SETUP_ANIMELIST } class="flex flex-col gap-4">
		@ui.Input(formData.ClientId, formData.FormSubmitted == "true")
		<input type="hidden" name="formSubmitted" value={ formData.FormSubmitted } class="text-black"/>
		<button class="bg-slate-800 text-slate-100 p-2 rounded-md w-full mt-4 hover:bg-slate-800/60">Authorize Animelist</button>
	</form>
}
